<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="container">
    <h1>
      Very Important!
    </h1>
  </div>
  <div class="container">
    <p>
      Lorem ipsom dolor sed amet.
    </p>
  </div>
  <div class="container">
    <img src="images/butterfly.jpg" alt="A cute butterfly">
  </div>
  <div class="container">
    <img src="images/tree.jpg" alt="A row of houseplants">
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
